{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Courses Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="courses-body" style="background: url('{% static "animations/background.jpeg" %}') no-repeat center center; background-size: cover;">

  <div class="sidebar">
    <div class="group">
      <svg class="search-icon" viewBox="0 0 24 24"><path fill="currentColor" d="M10 2a8 8 0 0 1 6.32 12.9l4.39 4.4l-1.41 1.4l-4.4-4.39A8 8 0 1 1 10 2m0 2a6 6 0 1 0 0 12a6 6 0 0 0 0-12z"/></svg>
      <input id="course-search" class="input" type="text" placeholder="Search courses...">
    </div>

    <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=ScheduleACourseWithUiren!&dates=20250430T150000Z/20250430T153000Z&details=ScheduleACourseWithUiren!&location=Almaty&sf=true" 
       target="_blank" class="sidebar-icon">
      <img src="{% static 'icons/calendar-days.png' %}" class="icon-img">
      <span>Schedule</span>
    </a>
  </div>

  <div class="main-content">
    <h2 class="section-title">All Courses</h2>
    <div class="carousel-wrapper">
      <div class="carousel">
        {% for course in courses %}
        <a href="{% url 'course_detail' slug=course.slug %}" class="card">
          <img src="{{ course.image.url }}" alt="{{ course.title }}">
          <p>{{ course.title }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
