{% extends 'base.html' %}
<nav class="navbar">
    <div class="nav-left">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'courses' %}">Courses</a>
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
          <a href="#">Design</a>
          <a href="#">Web Dev</a>
          <a href="#">Marketing</a>
          <a href="#">Music</a>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'signin' %}">Sign In / Register</a>
    </div>
  </nav>
  <h1 class="glassy-logo">Share Skill, Get Skill</h1>
  
{% block content %}
<video autoplay muted loop id="bg-video">
    <source src="{% static '/Users/dana/uiren_full/main/static/videos/Background.mov' %}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>  
{% endblock %}
