<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UIREN - Share Skill, Get Skill</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Raleway:wght@400;700&family=Tektur&family=DM+Sans&display=swap">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'courses' %}">Courses</a>
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
          <a href="#">Design</a>
          <a href="#">Web Dev</a>
          <a href="#">Marketing</a>
          <a href="#">Music</a>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'signin' %}">Sign In / Register</a>
    </div>
  </nav>

  <video autoplay muted loop id="bg-video">
    <source src="{% static 'videos/Background.mov' %}" type="video/mp4">
  </video>

  <section class="hero-content">
    <h1 class="hero-title">Share Skill, Get Skill</h1>

    <div class="filter-buttons">
      <button>Newest</button>
      <button>Popular</button>
      <button>High Rating</button>
    </div>

    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="Search courses...">
      <span class="search-icon">⌕</span>
    </div>

    <div class="carousel-wrapper">
        <div class="carousel">
          <div class="card">
            <video autoplay loop muted>
              <source src="{% static '/Users/dana/uiren_full/main/static/animations/webdev.json' %}" type="video/mp4" />
            </video>
            <p>Web Dev</p>
          </div>
          <div class="card">
            <video autoplay loop muted>
              <source src="{% static '/Users/dana/uiren_full/main/static/animations/graphicdesign.json' %}" type="video/mp4" />
            </video>
            <p>Design</p>
          </div>
          <div class="card">
            <video autoplay loop muted>
              <source src="{% static '/Users/dana/uiren_full/main/static/animations/outbound-marketing.json' %}" type="video/mp4" />
            </video>
            <p>Marketing</p>
          </div>
          <div class="card">
            <video autoplay loop muted>
              <source src="{% static '/Users/dana/uiren_full/main/static/animations/AI.json' %}" type="video/mp4" />
            </video>
            <p>AI & ML</p>
          </div>
          <div class="card">
            <video autoplay loop muted>
              <source src="{% static '' %}" type="video/mp4" />
            </video>
            <p>Music</p>
          </div>
        </div>
      </div>
      
  </section>
</body>
</html>
